@model Almacen.Models.ArticulosListaViewModel
@{
    ViewData["Title"] = "Lista de Artículos";
}

<div class="container">
    <a asp-controller="Articulos" asp-action="Nuevo" class="btn btn-success mb-3">Nuevo</a>
</div>